.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .8rem 0;
    background-color: #fff;

    .container {
        display: flex;
        align-items: center;

        width: 117rem;
        margin: 0 auto;
    }

    .logo {
        margin-right: 1rem;
    }

    .logo img {
        display: block;
        width: 18rem;
    }

    .list {
        list-style: none;
        display: flex;
        padding: 0;
        margin-right: auto;
    }

    .list li a {
        color: #333;
        padding: 1rem 1.6rem;
        border-radius: 4px;

        &:hover {
            background-color: #eee;
        }
    }

    .btn {
        color: #333;
        padding: 1rem 2rem;
        border-radius: 2.4rem;

        &:hover {
            color: #000;
        }
    }

    .btn.cta {
        color: #fff;
        background-color: #3788ee;
        
        &:hover {
            background-color: #136ddf;
        }
    }
}
